@import '~styles/index';

$loader-dot-size: 20px;
$loader-dot-buffer: $loader-dot-size + 10;
$animation-unit: 0.16s;

.scrim {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loaderContainer {
  background-color: $color-white;
  min-width: 150px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loaderText {
  color: $color-grey-darkest;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.loaderDots,
.loaderDots:before,
.loaderDots:after {
  border-radius: 50%;
  width: $loader-dot-size;
  height: $loader-dot-size;
  animation-fill-mode: both;
  animation: loaderkeyframes 1.8s infinite ease-in-out;
}

.loaderDots {
  color: $color-action;
  margin: -$loader-dot-size auto $loader-dot-size auto;
  transform: translateZ(0);
  animation-delay: -$animation-unit;
}
.loaderDots:before,
.loaderDots:after {
  content: '';
  position: absolute;
  top: 0;
}
.loaderDots:before {
  left: -$loader-dot-buffer;
  animation-delay: -($animation-unit * 2);
}
.loaderDots:after {
  left: $loader-dot-buffer;
}

@keyframes loaderkeyframes {
  0%,
  80%,
  100% {
    box-shadow: 0 $loader-dot-size 0 (-$loader-dot-size / 2);
  }
  40% {
    box-shadow: 0 $loader-dot-size 0 0;
  }
}
