@import '~styles/index';

.recorder {
  flex:1;
width:64px;
height: 64px;
padding-right: 16px;
content: url('../../../resources/static/imgs/btn_animationrecordactive.png');
}

.recorderActive {
  flex:1;
  width:64px;
  height: 64px;
  padding-right: 16px;
  content: url('../../../resources/static/imgs/btn_animationrecord.png');

}


.gifrecorder {
  flex:1;
width:64px;
height: 64px;
padding-right: 16px;
content: url('../../../resources/static/imgs/btn_animationrecordactive.png');
}

.gifrecorderActive {
  flex:1;
  width:64px;
  height: 64px;
  padding-right: 16px;
  content: url('../../../resources/static/imgs/btn_gifrecord.png');

}


.buttonsRecord{
  display:flex;
  flex-direction: row;
}
