@import './../../index.scss';

.puppetContainer {
  border: 1px solid $color-black;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.serverCollectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.puppetThumbnail {
  @include checkerBackground();
  border: 1px solid black;
  max-height: 240px;
  max-width: 240px;
}
