@import '~styles/index';

.puppetContainer {
  border-bottom: 1px solid $color-black;
}

.bottomMargin {
  border-bottom: 1px solid $color-black;
}

$box-size: 20px;
$twice-box-size: $box-size * 2;
$checker-light: #FFF;
$checker-dark: #CCC;

.checkerBackground {
  border: 1px solid black;
  background-color: $checker-light;
  background-size: $twice-box-size $twice-box-size;
  background-position: 0 0, $box-size $box-size;
  background-image: linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark),
                    linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark);
}
