<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">

                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Username</label>
                        <input ng-model="user.name" type="text">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">

                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Password</label>
                        <input ng-model="user.passwd" type="password">
                    </md-input-container>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Login
            </md-button>
            <md-button ng-click="answer('useful')">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
