<md-dialog aria-label="Login / Signup">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Signup</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">

                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Username</label>
                        <input ng-model="user.name" type="text">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">

                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Email</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">

                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Password</label>
                        <input ng-model="user.passwd1" type="password">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container>
                        <!-- Use floating label instead of placeholder -->
                        <label>Password Again</label>
                        <input ng-model="user.passwd2" type="password">
                    </md-input-container>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="register()">
                Register
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
