.landing-page-container {
	display: grid;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: 64px auto;
	row-gap: 24px;
	column-gap: 48px;
	grid-template-areas:
		'header header header'
		'side-panel content-area .';
}
