{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "indent": ["error", "tab", {"ignoredNodes": ["JSXElement"]}],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "comma-dangle": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": false }]
  }
}
