venv/
node_modules/

*.swp

*.pyc
db.sqlite3
dranimate_visualized.png

.idea/
static/
dranimate-demo-server.pem

server/imgs/
server/meshes/

debug/
npm-debug.log
dist/

bundle.js

browser/admin/
browser/django_extensions/
browser/rest_framework/
/browser/node_modules/
