@import './../../../index.scss';

.control-point-editor-container {
	background-color: white;
	border-radius: 10px;
	max-height: 700px;
	width: 792px;
}

.control-point-editor-dialog {
	border-radius: 10px;
	max-height: 700px;
	pointer-events: all;
	@include checkerBackground();
}

.control-point-editor-dialog-title {
	box-shadow:
		0px -1px 1px rgba(0, 0, 0, 0.08),
		1px 0px 1px rgba(0, 0, 0, 0.08),
		-1px 0px 1px rgba(0, 0, 0, 0.08),
		0px 1px 1px rgba(0, 0, 0, 0.08);
	border-radius: 10px 10px 0px 0px;
	display: flex;
	align-items: center;
	position: relative;
	height: 64px;
	background-color: #FFFFFF;
}

.control-point-editor-back-button {
	position: absolute;
	left: 8px;
	cursor: pointer;
}

.control-point-editor-next-button {
	position: absolute;
	right: 8px;
	cursor: pointer;
}

.control-point-editor-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.control-point-editor-dialog-bottom-bar {
	box-shadow:
		0px -1px 1px rgba(0, 0, 0, 0.08),
		1px 0px 1px rgba(0, 0, 0, 0.08),
		-1px 0px 1px rgba(0, 0, 0, 0.08),
		0px 1px 1px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 10px 10px;
	display: flex;
	align-items: center;
	position: relative;
	height: 64px;
	background-color: #FFFFFF;
}

.control-point-editor-bottom-bar-left-actions {
	display: flex;
	flex-grow: 1;
	padding-left: 8px;
}

.control-point-editor-bottom-bar-right-actions {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	padding-right: 8px;
}

.control-point-editor-tool-options {
	width: 320px;
	background-color: #4A73E2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
}

.control-point-editor-tool-name {
	display: flex;
	justify-content: center;
	padding-left: 24px;
	height: 100%;
	cursor: default;
	flex-direction: column;
}

.control-point-editor-tool-actions-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 12px;
}

.control-point-editor-hand-option-container {
	position: relative;
	display: flex;
}

.control-point-editor-toolbar-description {
	display: flex;
	align-items: center;
	padding-left: 12px;
}

.control-point-editor-toolbar-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 12px;
}
