@import './../../../styles/colors.scss';
@import './../../../styles/shadows.scss';

.fab-container {
	cursor: pointer;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 64px;
	background: $primary;
	box-shadow: $elevated;
}
