@import '~styles/index';

.profileScrim {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileContents {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  background-color: $color-white;
  padding: 20px 40px;
  border-radius: 4px;
  min-width: 300px;
  max-height: 80%;

  @include sm() {
    min-width: none;
    width: 100%;
    height: 100%;
  }
}

.inputField {
  margin: 10px 0;
}

.formButton {
  margin: 10px 0;
  height: 30px;
}

.puppetCollection {
  overflow-y: scroll;
  margin: 10px 0;
  border: 1px solid $color-black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomMargin {
  margin-bottom: 20px;
}
