@import '~styles/index';

.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.topbarItem {
  padding: 10px;
}

.aboutContainer {
  cursor: pointer;
}
.aboutContainer:hover .aboutInfo{
  display: inline-block;
}

.aboutLabel {}

.aboutInfo {
  display: none;
  position: absolute;
  border: 1px solid $color-black;
  border-radius: 4px;
  width: 160px;
}
