@import '~styles/index';

.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
left: $ui-canvas-margin;
  width: auto;
  @include sm() {
    left:16px;
  }
}

.logo{
cursor: pointer;
  top: 0%;
}
.image {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}


.topbarItem {
  padding: 10px;
}

.topRight{
  padding: 10px;
}


.logo:hover .aboutInfo{
  display: inline-block;
}

.aboutInfo {
  display: none;
  position: absolute;
  border: 1px solid $color-white;
  border-radius: 4px;
  width: 160px;
}
