.profile-image {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	border: 4px solid #4A73E2;
	background-color: #4A73E2;
	border-radius: 48px;
	cursor: pointer;
}

.user-info-container {
	display: flex;
	flex-direction: column;
}

.user-info-popper {
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
}
