$font-family-header: 'Montserrat','Raleway', 'Roboto', Helvetica, Arial, sans-serif;
$font-weight-header: 300;
$font-family:  'Montserrat','Raleway', 'Roboto', Helvetica, Arial, sans-serif;
$font-weight: 300;
$base-font-size: 14px;
$header-font-size: 18px;
$tiny-font-size: 0.8em;
$med-font-size: 1em;
