@import '~styles/index';

.scrim {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puppetEditor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;

  @include sm() {
    width: 100%;
    height: 100%;
  }
}

.editorControlRow {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowSpaceAround {
  width: 100%;
  justify-content: space-around;
}

.editorControlParam {
}

.editorControlDisable {
  display: none;
  pointer-events: none;
  //color: $color-grey-light;
}


.editorControlLabel{
  font-size: 40px;
  padding-right: 10px;
}


.editorCanvas {
  border: 1px solid black;
}

$box-size: 20px;
$twice-box-size: $box-size * 2;
$checker-light: #FFF;
$checker-dark: #CCC;

.editorCanvasChecker {
  border: 1px solid black;
  background-color: $checker-light;
  background-size: $twice-box-size $twice-box-size;
  background-position: 0 0, $box-size $box-size;
  background-image: linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark),
                    linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark);
}

.editorControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}


.editorNav {
  margin: 10px 0;
  font-size: $header-font-size;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton {
  height: 20px;
  min-width: 80px;
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.drawEraseLabel {
  min-width: 50px;
  margin-top: 10px;
}
