.inspect-panel-container {
	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 260px;
}

.inspect-panel-header {
	display: flex;
	align-items: center;
	height: 48px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 16px 0px 16px;
}

.toggle-panel-container {
	position: absolute;
	left: -64px;
	top: 16px;
	width: 48px;
	height: 48px;
}
