.right-bar-container {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 168px;
	display: flex;
	align-items: flex-start;
	padding-top: 104px;
	padding-bottom: 104px;
	box-sizing: border-box;
}
