@import './../../index.scss';

.puppet-editor-backdrop {
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.puppet-editor-canvas {
	pointer-events: all;
}

.puppet-editor-canvas-container {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	pointer-events: none;
}

.puppet-editor-options-container {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	pointer-events: none;
}

.puppet-editor-dialog-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 472px;
	pointer-events: none;
}