.puppet-details-editor-tool-options {
	padding: 8px 24px 16px 24px;
	width: 320px;
	background-color: #4A73E2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}
