.top-bar-container {
	position: absolute;
	top: 0px;
	height: 96px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 380px;
	padding-right: 380px;
	box-sizing: border-box;
}
