.container {
	width: 250px;
	height: 50px;
	position: fixed;
	left: 50%;
	top: -75px;
	transform:translateX(-50%);
	background-color: white;
	animation-name: popup;
	animation-duration: 3.5s;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes popup {
	0% {
		top: -75px;
	}
	20% {
		top: 35px;
	}
	100% {
		top: 35px;
	}
}
